/* 
    General Styles
*/

body {
    background: #393b3a;
    color: white;
}

.card-body {
    color: black;
}
.main-title {
    color: white;
}

.planets {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.planets .card {
    width: 80%;
}

.featurette {
    justify-content: center;
}